{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="container py-5">
    <div class="p-4 p-md-5 rounded-3 bg-white">
        <h1>Create your account</h1>
        <form method="POST" action="{% url 'register' %}">
          {% csrf_token %}
          {% for field in form %}
          <div class="mb-3">
            <label class="form-label">{{ field.label }}</label>
            <br>
            {{ field }}
              {% for error in field.errors %}
              <p style="color: red"> {{ error }} </p>
              {% endfor %}

          </div>
          {% endfor %}
          <input class="btn btn-primary dark-green-btn" type="submit" value="Register"/>
        </form>
        <hr class="my-4">
        <small class="text-muted">Already have an account?</small>
        <a href="{% url 'login' %}" class="link-dark">Log In</a>
    </div>

</div>



<!--{% endblock content %}-->