<nav class="navbar navbar-expand-md navbar-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'pizzas' %}"><i class="fas fa-pizza-slice"></i> PizzaProject</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'pizzas' %}">Pizzas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'pizzaiolos' %}">Pizzaiolos</a>
        </li>
          {% if request.user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="dropdown04" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-search"></i>
            </a>

            <ul class="dropdown-menu" aria-labelledby="dropdown04">
              <li>
                  <div class="dropdown-item search-dropdown">
                      <form class="text-center" action="{% url 'pizzas' %}" method="GET">
                        <input class="form-control me-2 search-button search-field" type="search" value="{{ search_query }}" placeholder="Search for pizzas" name="search_query">
                        <button class="btn btn-outline-light search-button" type="submit">Search</button>
                      </form>
                  </div>
              </li>
            </ul>
        </li>
      </ul>
      <ul class="navbar-nav flex-row flex-wrap ms-md-auto">

        <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="dropdown02" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-plus"></i><i class="fas fa-pizza-slice"></i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdown02">
              <li><a class="dropdown-item" href="{% url 'add-pizza' %}">Add Pizza</a></li>
            </ul>
          </li>
        <li class="nav-item dropdown">
            {% if request.user.pizzaiolo.unread > 0 %}
                <a class="nav-link active" href="#" id="dropdown03" data-bs-toggle="dropdown"><i class="fas fa-user"></i></a>
            {% else  %}
                <a class="nav-link" href="#" id="dropdown03" data-bs-toggle="dropdown"><i class="fas fa-user"></i></a>
            {% endif %}
            <ul class="dropdown-menu" aria-labelledby="dropdown03">
              <li><a class="dropdown-item" href="{% url 'account' %}">My Account</a></li>
              <li><a class="dropdown-item" href="{% url 'inbox' %}">Messages ({{ request.user.pizzaiolo.unread }})</a></li>
              <li><a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
            </ul>
        </li>
      </ul>
      {% endif %}

    </div>
  </div>
</nav>