{% extends 'main.html' %}
{% block content %}
<style>
  input[type='text'],
  input[type='email'],
  input[type='password'] {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
</style>
<main>

  <div class="bg-white">
    <div class="container col-xl-10 col-xxl-8 px-4 py-5 bg-white">
      <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
          <h1 class="display-4 fw-bold lh-1 mb-3">Forgotten your password?</h1>
          <p class="col-lg-10 fs-4">Enter your email address and we’ll email instructions for setting a new one.</p>
        </div>
        <div class="col-md-10 mx-auto col-lg-5">
          <form class="p-4 p-md-5 border rounded-3 bg-light" method="POST">
            {% csrf_token %}
            <div class="form-floating mb-3">
              {% for field in form %}
              {{ field.label }}
              <br>
              {{field}}
              {% endfor %}
            </div>
            <input class="w-100 btn btn-lg btn-primary dark-green-btn" type="submit" value="Reset Password"/>
            <hr class="my-4">
            <small class="text-muted">Don't have an Account?</small>
            <a href="{% url 'register' %}" class="link-dark"><strong>Sign Up</strong></a>
          </form>
        </div>
      </div>
    </div>
  </div>

</main>

{% endblock content %}