{% extends 'main.html' %}
{% block content %}
<main>

<div class="bg-white">
  <div class="container col-xl-10 col-xxl-8 px-4 py-5 bg-white">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 mb-3">Password reset complete</h1>
        <p class="col-lg-10 fs-4">Your password has been set. You may go ahead and log in now.</p>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
        <form class="p-4 p-md-5 border rounded-3 bg-light" method="POST" action="{% url 'login' %}">
          {% csrf_token %}
          <div class="form-floating mb-3">
            <input type="text" class="form-control" name="username" id="floatingInput" placeholder="Yuor username">
            <label for="floatingInput">Username</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
          </div>
          <button class="w-100 btn btn-lg btn-primary dark-green-btn" type="submit">Log in</button>
        </form>
      </div>
    </div>
  </div>
</div>

</main>

{% endblock content %}