{% extends 'main.html' %}
{% block content %}
<main>

<div class="bg-white">
  <div class="container col-xl-10 col-xxl-8 px-4 py-5 bg-white">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-12 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 mb-3 text-center">Password reset sent</h1>
        <p class="col-lg-12 fs-4 text-center">We’ve emailed you instructions for setting your password, if an account exists with the email you entered.</p>
        <p class="col-lg-12 fs-4 text-center">You should receive them shortly. If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
      </div>
    </div>
  </div>
</div>

</main>

{% endblock content %}